html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  overflow: hidden;
}

.top-part {
  background-color: #6b8fb9;
  height: 7vh;
}

.app {
  display: flex;
  flex-flow: row nowrap;
  height: 100vh;
}

.app-navigation {
  /* flex-grow: 0.4; */
  flex-basis: 15%;
  /* font-size: 22px; */
  font-size: 1.15vw;
}

.app-options {
  color: #1a1a1a;
  opacity: 0.5;
  /* padding-bottom: 10px; */
}

.app-option {
  padding: 18px 0px;
}

.app-option:hover {
  color: #ffffff;
  background-color: #507098;
  /* border-radius: 10px; */
  transition: 0.4s all ease;
}

.app-option:active {
  transition: 0s;
  font-weight: 400;
}

img {
  width: 40px;
  padding-left: 20px;
}

.app-option-text {
  padding-left: 10px;
  font-weight: 600;
  padding-bottom: 10px;
}

.app-option:hover {
  cursor: pointer;
}

.navigation-sep {
  content: "";
  width: 84%;
  margin-left: 8%;
  border-bottom: 1px solid #c4c4c4;
}

.help-support {
  display: flex;
  flex-direction: column;
}

.help-text {
  padding: 20px 25px;
  font-weight: 400;
  color: #1a1a1a;
  opacity: 0.5;
}

.help-text:hover,
.help-text:active {
  cursor: pointer;
  background-color: #dfefff;
  transition: 0.4s all ease;
}

.main-app {
  /* flex-grow: 3; */
  flex-basis: 65%;
  border-left: 1px solid #c4c4c4;
  border-right: 1px solid #c4c4c4;
  /* display: flex;
  flex-direction: column;
  justify-content: space-evenly; */
  padding-top: 20px;
}

.app-display {
  display: flex;
  justify-content: space-around;
  height: 42vh;
}

.app-buttons {
  display: flex;
  gap: 1%;
  margin: 20px 30px;
}

.hex-letter-container {
  /* margin-right: 20px; */
  width: 15vw;
  display: grid;
  grid-gap: 18px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    "A D"
    "B E"
    "C F";
}

.hex-letter-container > button {
  font-size: 22px;
  font-weight: 600;
  color: #1a1a1a;
  background-color: #90c8c1;
  border-radius: 5px;
  border: none;
}

.hex-letter-container > button:hover {
  cursor: pointer;
  background-color: #a5dad3;
  transition: all 0.4s ease;
}

.hex-letter-container > button:active {
  background-color: #a5dad3;
  border: 1px solid rgba(26, 26, 26, 0.25);
  box-sizing: border-box;
  box-shadow: 2px 2px 7px 1px rgba(26, 26, 26, 0.25);
}

.hex-A {
  grid-area: A;
}

.hex-B {
  grid-area: B;
}

.hex-C {
  grid-area: C;
}

.hex-D {
  grid-area: D;
}

.hex-E {
  grid-area: E;
}

.hex-F {
  grid-area: F;
}

.num-container {
  height: 38vh;
  width: 20vw;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(3, auto);
}

.num-container > button {
  background-color: #dfefff;
  color: #1a1a1a;
  border: none;
  border-radius: 5px;
  font-size: 22px;
  font-family: Open Sans;
  font-weight: 600;
}

.num-container > button:hover {
  cursor: pointer;
  background-color: #c7e4ff;
  transition: all 0.4s ease;
}

.num-container > button:active {
  background-color: #c7e4ff;
  border: 1.5px solid rgba(26, 26, 26, 0.1);
  box-sizing: border-box;
  box-shadow: 2px 2px 7px 1px rgba(26, 26, 26, 0.25);
}

.del > img {
  display: block;
  margin: auto;
}

.num-zero {
  order: 11;
}

.num-one {
  order: 7;
}

.num-two {
  order: 8;
}

.num-three {
  order: 9;
}

.num-four {
  order: 4;
}

.num-five {
  order: 5;
}

.num-six {
  order: 6;
}

.num-seven {
  order: 1;
}

.num-eight {
  order: 2;
}

.num-nine {
  order: 3;
}

.num-dot {
  order: 12;
}

.num-plus-minus {
  order: 10;
}

.programmer-operation-container {
  width: 12vw;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(2, auto);
}

.programmer-operation-container > button,
.operation-container > button {
  color: #1a1a1a;
  border: none;
  border-radius: 5px;
  font-size: 22px;
  font-family: Open Sans;
  font-weight: 600;
}

.programmer-operation-container > button:hover,
.operation-container > button:hover {
  cursor: pointer;
}

.op,
.other {
  background-color: #dfefff;
}

.op:hover,
.other:hover {
  cursor: pointer;
  background-color: #c7e4ff;
  transition: all 0.4s ease;
}

.op:active,
.other:active {
  background-color: #c7e4ff;
  border: 1.5px solid rgba(26, 26, 26, 0.1);
  box-sizing: border-box;
  box-shadow: 2px 2px 7px 1px rgba(26, 26, 26, 0.25);
}

.programmer-equal,
.other-equal {
  /* order: -1; */
  background-color: #90c8c1;
}

.programmer-equal:hover,
.other-equal:hover {
  cursor: pointer;
  background-color: #a5dad3;
  transition: all 0.4s ease;
}

.programmer-equal:active,
.other-equal:active {
  background-color: #a5dad3;
  border: 1.5px solid rgba(26, 26, 26, 0.25);
  box-sizing: border-box;
  box-shadow: 2px 2px 7px 1px rgba(26, 26, 26, 0.25);
  border-radius: 5px;
}

.operation-container {
  width: 12.2vw;
  display: none;
  grid-gap: 10px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    "del del"
    "min useless"
    "plus equal"
    "ce equal";
}

.other.del {
  grid-area: del;
}

.other.min {
  grid-area: min;
}

.other.useless {
  grid-area: useless;
}

.other.plus {
  grid-area: plus;
}

.other.ce {
  grid-area: ce;
}

.other-equal {
  grid-area: equal;
}

.operation-container > button {
  border: 0;
}

.programmer-display {
  display: flex;
  flex-flow: row nowrap;
  flex-basis: 95%;
  gap: 2%;
}

.programmer-input {
  background-color: #dfefff;
  border-radius: 10px;
  flex-basis: 55%;
  display: flex;
  justify-content: space-between;
}

.programmer-input-number {
  font-family: Open Sans;
  font-size: 5vw;
  font-weight: 600;
  padding-right: 20px;
  align-self: flex-end;
  word-wrap: break-word;
  word-break: break-all;
}

.select-box {
  display: flex;
  width: 180px;
  flex-direction: column;
  padding: 5px;
}

.select-box .options-container {
  color: #1a1a1a;
  max-height: 0;
  width: 100%;
  opacity: 0;
  transition: all 0.4s;
  /* border-radius: 8px; */
  overflow: hidden;
  order: 1;
}

.selected {
  font-size: min(1.8vw, 24px);
  font-weight: 600;
  border-radius: 8px;
  margin-bottom: 8px;
  color: #1a1a1a;
  position: relative;
  order: 0;
}

.selected::after {
  content: "";
  background: url("../icons/arrown_down.svg");
  filter: invert(75%);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  height: 100%;
  width: 32px;
  right: min(-30px, -1.5vw);
  top: 10px;
  transition: all 0.4s;
}

.select-box .options-container.active {
  max-height: 200px;
  opacity: 1;
  overflow-y: scroll;
}

.select-box .options-container.active + .selected::after {
  transform: rotateX(180deg);
  top: -8px;
}

.select-box .options-container::-webkit-scrollbar {
  width: 8px;
  background: #c4c4c4;
  border-radius: 0 8px 8px 0;
}

.select-box .options-container::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 0 8px 8px 0;
}

.select-box .option,
.selected {
  padding: 12px 24px;
  cursor: pointer;
}

.select-box .option:hover {
  background: #ffffff;
  transition: all 0.4s ease;
}

.select-box label {
  cursor: pointer;
}

label {
  font-size: 1vw;
}

.select-box .option .radio {
  display: none;
}

.programmer-output-container {
  background-color: #dfefff;
  border-radius: 10px;
  flex-basis: 45%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 20px;
}

.programmer-output-title {
  font-size: 1.1vw;
  font-weight: 400;
  height: 7vh;
}

.programmer-output-value {
  font-family: Open Sans;
  font-weight: 600;
  font-size: 2vw;
  float: right;
  word-wrap: break-word;
  word-break: break-all;
}

.border-bot {
  border-bottom: 1px solid #c4c4c4;
}

.app-config {
  /* flex-grow: 0.5; */
  flex-basis: 20%;
  display: flex;
  flex-flow: column nowrap;
  font-size: min(1.4vw, 22px);
  font-weight: 600;
}

.config-title {
  padding: 20px 30px;
  border-bottom: 1px solid #c4c4c4;
}

.config-body {
  padding: 0px 30px;
}

.config-color {
  padding: 20px 0px;
  border-bottom: 1px solid #c4c4c4;
}

.color-title {
}

.color-type {
}

.dark-mode {
  display: flex;
  flex-direction: row;
  gap: 5%;
  padding: 20px 0px;
}

.dark-mode-text {
  padding-top: 5px;
}

input[type="checkbox"] {
  position: relative;
  width: 60px;
  height: 32px;
  appearance: none;
  background: #c6c6c6;
  outline: none;
  border-radius: 20px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
}

input:checked[type="checkbox"] {
  background: #90c8c1;
}

input[type="checkbox"]:hover {
  cursor: pointer;
}

input[type="checkbox"]:before {
  content: "";
  position: absolute;
  width: 30px;
  height: 32px;
  border-radius: 20px;
  top: 0;
  left: 0;
  background: #ffffff;
  transform: scale(1.1);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
}

input:checked[type="checkbox"]:before {
  left: 30px;
}

.pop-up {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  backdrop-filter: blur(25px);
  background: rgba(107, 143, 185, 0.75);
  color: rgba(26, 26, 26, 0.75);
  justify-content: center;
  align-items: center;
}

.pop-up:hover {
  /* background: black; */
}

h1 {
  font-size: 30px;
  text-align: center;
}

.help,
.about,
.feedback {
  display: none;
  flex-basis: 26%;
  height: 55vh;
  background-color: #ffffff;
  color: #1a1a1a;
  text-align: justify;
  padding: 0 20px;
  border-radius: 10px;
  animation-duration: 0.4s;
  animation-name: popup-animation;
}

@keyframes popup-animation {
  0% {
    flex-basis: 12%;
    height: 18vh;
    opacity: 0;
  }

  25% {
    flex-basis: 24%;
    height: 36vh;
    opacity: 0.25;
  }

  50% {
    flex-basis: 34%;
    height: 64vh;
    opacity: 0.5;
  }

  100% {
    flex-basis: 26%;
    height: 55vh;
    opacity: 1;
  }
}
